.profile-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
  align-items: center;
  height: 100%;
}

.profile-left-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar {
  width: 100%;
  max-width: 180px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid rgba(233, 69, 245, 0.4);
}

.profile-right-column {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
}

.profile-name {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

.profile-title {
  font-size: 30px;
  color: #b0b0b0;
  margin: 0;
}

.profile-location {
  font-size: 15px;
  color: #777777;
}

.profile-bio {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #dddddd;
  margin: 0;
  margin-top: 0.4rem;
}

.button-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 15px;
}

.github-btn,
.linkedin-btn,
.emailer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 2px solid rgba(233, 69, 245, 0.4);
  border-radius: 20px;
  padding: 10px 16px;
  max-width: fit-content;
  text-decoration: none;
  color: white;
  background: black;
  transition: all 0.2s ease-in-out;
}

.github-btn:hover,
.linkedin-btn:hover,
.emailer-btn:hover {
  color: black;
  background: white;
}

.github-logo,
.linkedin-logo,
.email-logo {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  object-fit: contain;
}

@media (max-width: 500px) {
  .profile-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .profile-right-column {
    align-items: center;
  }
}
