.bold-name {
  font-weight: 650;
  color: white;
}

.aboutme-text {
  color: lightgray;
}

.aboutme-container {
  text-align: justify;
  justify-content: center;
  align-items: center;
}
